layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar" 
        }
    }
    
    tab name="nvim" focus=true {
        pane split_direction="vertical" {
            pane command="nvim" size="70%" focus=true
            pane stacked=true size="30%" {
                pane expanded=true
                pane
                pane
            }
        }
    }
    
    tab name="terminal" {
        pane stacked=true {
            pane expanded=true
            pane
            pane name="AI" command="claude"
        }
    }
}